<div>
  <app-item-type
    [fieldName1]="'ATTACK INDICATION'"
    [fieldValue1]="dataTypeShared.attackIndicationSpec"
    [fieldName2]="'DATA LEAKAGE'"
    [fieldValue2]="dataTypeShared.dataLeakageSpec"
  ></app-item-type>
  <app-item-type
    [fieldName1]="'PHISHING'"
    [fieldValue1]="dataTypeShared.phishingSpec"
    [fieldName2]="'BRAND SECURITY'"
    [fieldValue2]="dataTypeShared.brandSecuritySpec"
  ></app-item-type>
  <app-item-type
    [fieldName1]="'EXPLOITABLE DATA'"
    [fieldValue1]="dataTypeShared.exploitableDataSpec"
    [fieldName2]="'VIP'"
    [fieldValue2]="dataTypeShared.vipSpec"
  ></app-item-type>
</div>
