:host {
    .item-cover {
        display: flex;
        border-bottom: 1px solid #223B50;
        .item {
            flex: 1;
             position: relative; 
             left: 1vw;
             white-space: nowrap;
            h5 {
              margin-top: 0;
              }
              h3 {
                margin-bottom: 0;
              }
        }
    }
}