:host {
  .container {
    padding: 10vh 20vw;
    .select-type {
      display: flex;
      justify-content: end;
      position: relative;
      top: 2vh;
    }
    .row {
      display: flex;
      width: 100%;
      position: relative;
      top: 2vh;
      margin-bottom: 1vw;
      .box-1,
      .box-2 {
        width: 100%;
        min-width: 200px;
      }
      .spacer-flex {
        min-width: 1vw;
      }
    }
  }

  @media (min-width: 1100px) {
    .row {
      flex-direction: row;
    }
  }

  @media (min-width: 400px) and (max-width: 1100px) {
    .row {
      flex-direction: column;
    }
  }
}
